$--color-pink: #FF3E79;
$--color-default: #FFFFFF;
$--color-gray: gray;
$--color-light-black: #1B1C21;
$--color-light-gray: #7E7E82;
$--color-light-green: #D9FFF5;
$--bgColor-default: #FFFFFF;
$--bgColor-nav-item-hover: rgba(0, 0, 0, 0.1);
$--bgColor-aqua: #41F6D7;
$--bgColor-light-aqua: #B8FFEC;
$--borderColor-slideContainer: #EAEAEA;
$--bgColor-page: #F8F8F8;
$--bgColor-slideButton: rgba(0, 0, 0, 0.05);
$--borderColorButton: rgba(0, 0, 0, 0.5);
$--bgLinear-swiper-before: linear-gradient(to left, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
$--bgLinear-title: linear-gradient(to right, #F8F8F8 0%, white 100%);
$--bgColor-paginationBullet: #DDDDDD;
$--bgColor-paginationBullet-active: #B5B6BC;
$--bgColor-backdrop: rgba(255, 255, 255, 0.7);


$--font-lakes-bold: 'TTLakes-Bold';
$--font-lakes-medium: 'TTLakes-Medium';
$--font-lakes-regular: 'TTLakes-Regular';

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1120px;
$screen-xl: 1440px;

