@import '../../less/variables';

.burger {

  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 320px;
  position: absolute;
  background: $--bgColor-default;
  height: 100%;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 0 50px 0 $--color-gray;
  animation: ease-in 0.3s slideToRight;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 30px 16px;
    max-height: 1024px;
    height: 100%;
    margin-bottom: 32px;
  }

  &__head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 16px;
  }

  &__nav-list {
    margin-bottom: auto;
  }

  &__nav-item {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 16px 8px;
    color: $--color-light-black;
    font-family: $--font-lakes-medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    &:hover {
      background: $--bgColor-nav-item-hover;
    }

    &--active {
      color: $--color-light-gray;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -18px;
        width: 6px;
        height: 28px;
        background-color: $--bgColor-aqua;
        border-radius: 0 6px 6px 0;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 16px 0;
  }

  &__foot {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
  }

  &__foot &__button {
    margin-left: 0;
  }

  &__mail-address,
  &__mobile-phone {
    display: block;
    text-decoration: none;
  }

  &__mail-address:hover,
  &__mobile-phone:hover {
    text-decoration: underline;
  }

  &__mail-address {
    font-family: $--font-lakes-medium;
    color: $--color-light-black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
  }

  &__mobile-phone {
    color: $--color-light-black;
    font-family: $--font-lakes-bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  &__languages {
    display: flex;
  }

  &__languages-item {
    margin-right: 7px;
  }

  &--active {
    overflow: hidden;
  }

  &--hidden {
    left: -320px;
  }

  @keyframes slideToRight {
    0% {
      transform: translateX(-100%);
    }
  }

  @media (min-width: $screen-xl) {

    & {
      display: flex;
      height: 100%;
      box-shadow: none;
    }

    &__logo {
      margin-left: 16px;
    }

    &--active {
      overflow: initial;
    }

  }

}
